<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="OctoBaseUrl" value="https://octo888deploy.fleetcomplete.com"/>
        <add key="OctoAPIKey" value="API-8QC0J3WOVWKZR2MF7COQTMAY"/>
        <add key="TimeOutAfterMinutes" value="5"/>
        <add key="MachineTimeoutAfterMinutes" value="5"/>
        <add key="ReleasesSelectionRange" value="5"/>
        
        <add key="RestartScript" value="Restart-Computer -Force"/>
    </appSettings>
</configuration>